<div class="row">
  <div class="col-md-2">
    <%= form_for(@changeHistorical) do |f| %>
    <% if @changeHistorical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@changeHistorical.errors.count, "error") %> prohibited this type change from being saved:</h2>

      <ul>
        <% @changeHistorical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
    <%= f.label :change_id %><br>
    <%= f.text_field :change_id %>
    </div>
   <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
    </div>
    <div class="actions">
      <%= f.submit  :class => "btn btn-default" %>
    </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>