
<p id="notice"><%= notice %></p>

<h1>Historial de Paridad Cambiaria</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Desde</th>
      <th>Hacia</th>
      <th>Tipo de cambio</th>
      <th>Fecha desde</th>
      <th>Fecha hasta</th>
      <th>Relación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @changeHistoricals.each do | changeHist | %>
    <tr>
      <td><%= changeHist.change.currency_from.name %></td>
      <td><%= changeHist.change.currency_to.name %></td>
      <td><%= changeHist.change.type_change.name %></td>
      <td><%= changeHist.start_dt %></td>
      <td><%= changeHist.end_dt %></td>
      <td><%= number_with_precision(changeHist.amount, precision: 2, separator: '.', strip_insignificant_zeros: true) %></td>
      <td><%= link_to 'Ver', changeHist , :class => "btn btn-info" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

