
<p id="notice"><%= notice %></p>

<h1>Listing Change Historical</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Currency from</th>
      <th>Currency to</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Relación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @changeHistoricals.each do | changeHist | %>
    <tr>
      <td><%= changeHist.change.currency_from.name %></td>
      <td><%= changeHist.change.currency_to.name %></td>
      <td><%= changeHist.start_dt %></td>
      <td><%= changeHist.end_dt %></td>
      <td><%= changeHist.amount %></td>
      <td><%= link_to 'Show', changeHist , :class => "btn btn-default" %></td>


    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New change', new_change_historical_path ,  :class => "btn btn-default" %>
