<p id="notice"><%= notice %></p>

<p>
  <strong>Desde: </strong>
  <%= @changeHistorical.change.currency_from.name %>
</p>

<p>
  <strong>Hacia: </strong>
  <%= @changeHistorical.change.currency_to.name %>
</p>

<p>
  <strong>Tipo de cambio:</strong>
  <%= @changeHistorical.change.type_change.name %>
</p>

<p>
  <strong>Fecha desde:</strong>
  <%= @changeHistorical.start_dt %>
</p>

<p>
  <strong>Fecha hasta:</strong>
  <%= @changeHistorical.end_dt %>
</p>

<p>
  <strong>Relación:</strong>
  <%= @changeHistorical.amount %>
</p>


