<div class="row">
  <div class="col-md-4">
    <%= simple_form_for(@change) do |f| %>
    <% if @change.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@change.errors.count, "error") %> prohibited this type change from being saved:</h2>
      <ul>
        <% @change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <label>Moneda desde:</label>
      <%= select_tag( :currency_from_id, options_for_select(@currencies.map { |c| [c.name, c.id]  } ) ,:id => 'change_currency_from', :name => "change[currency_from_id]" , :class => "select2" ) %>
    </div>

    <div class="field">
     <label>Moneda hasta:</label>
     <%= select_tag( :currency_to_id, options_for_select(@currencies.map { |c| [c.name, c.id]  } ) , :id => 'change_currency_to', :name => "change[currency_to_id]" , :class => "select2" ) %>
   </div>

   <div class="field">
     <label>Tipo de cambio:</label>
     <%= select_tag( :type_change_id, options_for_select(@type_changes.map { |c| [c.name, c.id]  } ) , :id => 'change_currency_to', :name => "change[type_change_id]" , :class => "select2" ) %>
   </div>

   <div class="actions">
    <%= f.submit  :class => "btn btn-primary" %>
  </div>

  <% end %>
</div>

<div class="col-md-4"></div>
<div class="col-md-4"></div>
</div>