<p id="notice"><%= notice %></p>

<p>
  <strong>Desde:</strong>
  <%= @change.type_change.currency_from.name %>
</p>

<p>
  <strong>A:</strong>
  <%= @change.type_change.currency_to.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @change.type_change.category.name %>
</p>

<p>
  <strong>Fecha desde:</strong>
  <%= @change.start_dt %>
</p>

<p>
  <strong>Fecha hasta:</strong>
  <%= @change.end_dt %>
</p>
<p>
  <strong>Relación:</strong>
  <%= @change.amount %>
</p>

<%= link_to 'Back', changes_path , :class => "btn btn-default"%>
