<p id="notice"><%= notice %></p>

<h1>Listing Currencies</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Name</th>
      <th>Abbreviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.description %></td>
        <td><%= currency.name %></td>
        <td><%= currency.abbreviation %></td>
        <td><%= link_to 'Show', currency , {:class => "btn btn-default"} %></td>
        <td><%= link_to 'Edit', edit_currency_path(currency) , :class => "btn btn-default" %></td>
        <td><%= link_to 'Destroy', currency, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Currency', new_currency_path , :class => "btn btn-default" %>
