<p id="notice"><%= notice %></p>

<h1>Lista de monedas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>MONEDA</th>
      <th>DESCRIPCIÓN</th>
      <th>ABREVIACIÓN</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.name %></td>
        <td><%= currency.description %></td>
        <td><%= currency.abbreviation %></td>
        <td><%= link_to 'Ver', currency , {:class => "btn btn-info"} %></td>
        <td><%= link_to 'Editar', edit_currency_path(currency) , :class => "btn btn-default" %></td>
        <td><%= link_to 'Eliminar', currency, method: :delete, data: {confirm: 'Esta seguro que desea eliminar?'}, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Moneda', new_currency_path , :class => "btn btn-default" %>
