<%= form_for(@typeChange) do |f| %>
<% if @typeChange.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@typeChange.errors.count, "error") %> prohibited this type change from being saved:</h2>

  <ul>
    <% @typeChange.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= select_tag(:currency_from_id, options_for_select(@currencies.map { |c| [c.name, c.id]  })) %>
  <%= select_tag(:currency_to_id, options_for_select(@currencies.map { |c| [c.name, c.id]  })) %>
</div>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_area :name %>
</div>
<div class="field">
  <%= f.label :start_dt %><br>
  <%= f.date_field :start_dt %>
</div>
<div class="field">
  <%= f.label :end_dt %><br>
  <%= f.date_field :end_dt %>
</div>
<div class="field">
  <%= f.label :amount %><br>
  <%= f.text_field :amount %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
