<div class="row">
  <div class="col-md-2">
    <%= simple_form_for(@typeChange) do |f| %>
    <div class="field">
      <%= f.association :currency_from, input_html: { class: 'select2 ' }%>
    </div>

    <div class="field">
      <%= f.association :currency_to, input_html: { class: 'select2 ' }%>
    </div>

   <div class="field">
       <%= f.association :category, input_html: { class: 'select2 ' }%>
   </div>
    <div class="field">
      <%= f.input :difference  , as: :float, input_html: { value: 0 } %>
    </div>

   <div class="actions">
    <%= f.submit  :class => "btn btn-primary" %>
  </div>

  <% end %>
</div>

<div class="col-md-4"></div>
<div class="col-md-4"></div>
</div>