<div class="row">
  <div class="col-md-2">
    <%= form_for(@typeChange) do |f| %>
    <% if @typeChange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@typeChange.errors.count, "error") %> prohibited this type change from being saved:</h2>

      <ul>
        <% @typeChange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_area :name %>
    </div>
    <div class="field">
      <%= f.label :start_dt %><br>
      <%= f.date_field :start_dt  ,:value => Date.today.strftime("%F") %>
    </div>
    <div class="field">
    <%= f.label :end_dt %><br>
      <%= f.date_field :end_dt %>
    </div>
    <div class="actions">
      <%= f.submit  :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>