<div class="row">
  <div class="col-md-2">
    <%= form_for(@typeChange) do |f| %>
    <% if @typeChange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@typeChange.errors.count, "error") %> prohibited this type change from being saved:</h2>

      <ul>
        <% @typeChange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <label>Currency From</label>
      <%= select_tag( :currency_from_id, options_for_select(@currencies.map { |c| [c.name, c.id]  } ) ,:id => 'type_change_change_currency_from', :name => "type_change[currency_from]" , :class => "select2" ) %>
    </div>
    <div class="field">
       <label>Currency To</label>
      <%= select_tag( :currency_to_id, options_for_select(@currencies.map { |c| [c.name, c.id]  } ) , :id => 'type_change_change_currency_to', :name => "type_change[currency_to]" , :class => "select2" ) %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_area :name %>
    </div>
    <div class="field">
      <%= f.label :start_dt %><br>
      <%= f.date_field :start_dt  ,:value => Date.today.strftime("%F") %>
    </div>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount %>
    </div>
    <div class="actions">
      <%= f.submit  :class => "btn btn-default" %>
    </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>