
<p id="notice"><%= notice %></p>

<h1>Lista de tipos de cambios</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typeChanges.each do |typeChange| %>
    <tr>
      <td><%= typeChange.name %></td>
      <td><%= typeChange.start_dt %></td>
      <td><%= typeChange.end_dt %></td>
      <td><%= link_to 'Ver', typeChange , :class => "btn btn-info" %></td>
      <td><%= link_to 'Editar', edit_type_change_path(typeChange) , :class => "btn btn-default" %></td>
        <td><%= link_to 'Eliminar', typeChange, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger" %></td>


    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nuevo Tipo de Cambio', new_type_change_path ,  :class => "btn btn-default" %>
