<p id="notice"><%= notice %></p>

<h1>Listing Type Changes</h1>

<table>
  <thead>
    <tr>
      <th>Currency From</th>
      <th>Currency To</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typeChanges.each do |typeChange| %>
      <tr>
        <td><%= typeChange.change.currency_from.name %></td>
        <td><%= typeChange.change.currency_to.name %></td>
        <td><%= typeChange.start_dt %></td>
        <td><%= typeChange.end_dt %></td>
        <td><%= typeChange.amount %></td>
        <td><%= link_to 'Show', typeChange %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Changes', new_type_changes_path %>