<p id="notice"><%= notice %></p>

<p>
  <strong>Currency From:</strong>
  <%= @typeChange.change.currency_from.name %>
</p>

<p>
  <strong>Currency To:</strong>
  <%= @typeChange.change.currency_to.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @typeChange.name %>
</p>


<p>
  <strong>Amount:</strong>
  <%= @typeChange.amount %>
</p>


<%= link_to 'Back', type_changes_path %>
