<div class="row">
  <div class="col-md-4">
    <p id="notice"><%= notice %></p>
    <div class="field">
    <p>
      <strong>Name:</strong>
      <%= @typeChange.name %>
    </p>

    <p>
      <strong>Desde:</strong>
      <%= @typeChange.start_dt %>
    </p>

    <p>
      <strong>Hasta:</strong>
      <%= @typeChange.end_dt %>
    </p>


    <%= link_to 'Back', type_changes_path , :class => "btn btn-default" %>
  </div>
  
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>