<p id="notice"><%= notice %></p>

<p>
  <strong>Desde:</strong>
  <%= @typeChange.currency_from.name %>
</p>

<p>
  <strong>A:</strong>
  <%= @typeChange.currency_to.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @typeChange.category.name %>
</p>
<p>
  <strong>Diferencia:</strong>
  <%= @typeChange.difference %>
</p>

<p>
  <strong>Fecha de inicio:</strong>
  <%= @typeChange.start_dt %>
</p>

<p>
  <strong>Fecha de fin:</strong>
  <%= @typeChange.end_dt %>
</p>


<%= link_to 'Edit', edit_type_change_path(@typeChange) , :class => "btn btn-default" %> |
<%= link_to 'Back', type_changes_path , :class => "btn btn-default"%>
