<!DOCTYPE html>
<html>
<head>
  <title>ExchangeRate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Currency', currencies_path ,{:class=> "navbar-brand"} %>
        <%= link_to 'Type of change', type_changes_path ,{:class=> "navbar-brand"} %>
        <%= link_to 'Change', changes_path ,{:class=> "navbar-brand"} %>
        <%= link_to 'Change history', change_historicals_path ,{:class=> "navbar-brand"} %>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div> 

</body>
</html>
